<div class="shopping-list js-list-items-container container alert alert-warning w-75 d-flex flex-column justify-content-around align-content-center">
    {% for list_item in list_items %}

        <div class="d-flex align-items-center mb-3">

            <input class="js-checkbox d-none"
                   type="checkbox"
                   id="list-item-{{ list_item.id }}-input"
                   data-list-item-id="{{ list_item.id }}" {{ list_item.checked ? 'checked' : '' }}
            >

            <label class="shopping-list-item font-weight-bold {{ list_item.checked ? 'checked-item' : 'text-dark' }}"
                   id="list-item-{{ list_item.id }}-label"
                   for="list-item-{{ list_item.id }}-input"
            >
                {{ list_item.content }} x {{ list_item.quantity }}
            </label>

            <a href="{{ path('shopping_list_delete_list_item', { 'id': list_item.id}) }}" class="js-delete-list-item" data-list-item-id="{{ list_item.id }}">
                <img class="w-70" src="/images/delete-yellow-cross-2.svg" alt="">
            </a>
        </div>

    {% endfor %}
</div>

