{% extends 'base.html.twig' %}

{% block title %}Créer une nouvelle saison{% endblock %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block body %}
    <a class="p-3" href="{{ path('season_index') }}">Retour aux saisons</a>
    <h3 class="text-center my-4">
        {% block title_form %}Ajouter une nouvelle saison{% endblock %}
    </h3>
    <div class="container">
        {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.start_date) }}
        {{ form_row(form.end_date) }}
        <div class="text-center"><input class="btn btn-primary" type="submit" value="{% block text_button %}Ajouter{% endblock %}"></div>
        {{ form_end(form) }}
    </div>
{% endblock %}
