{% extends 'base.html.twig' %}

{% block title %}Nouvelle Recette{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('form') }}
{% endblock %}

{% block body %}
    <h2>Ajout d'une nouvelle recette</h2>
    {{ form_start(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.description) }}
    <ul id="ingredients-container" class="ingredients" data-prototype="{{ form_widget(form.ingredients.vars.prototype)|e('html_attr') }}"></ul>
    <button id="add-ingredient" type="button" class="add_item_link btn btn-primary" data-collection-holder-class="ingredients">Ajouter un ingrédient</button>
    <input class="btn btn-primary" type="submit" value="Ajouter">
    {{ form_end(form) }}
{% endblock %}