<nav class="navbar navbar-expand-lg text-light bg-primary mb-3">
    <a class="navbar-brand" href="{{ path('default_index') }}"><h4 class="text-light">On mange quoi c'soir ?</h4></a>
    <button class="navbar-toggler btn-secondary" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"><i class="fas fa-sort-down text-primary"></i></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto align-items-center">
                <li class="nav-item">
                    <a class="nav-link text-primary btn btn-light p-2 m-3" href="{{ path('aliment_index') }}">Aliments</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link text-primary btn btn-light p-2 m-3" href="{{ path('recipe_index') }}">Recettes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-primary btn btn-light p-2 m-3" href="{{ path('menu_index') }}">Menus</a>
                </li>
                <li>
                    <a class="nav-link btn btn-secondary text-primary font-weight-bold p-3 m-3" href="{{ path('menu_new') }}">Créer un menu</a>
                </li>
            </ul>
        </div>
    </div>
</nav>