{% extends 'base.html.twig' %}

{% block title %}Liste des menus{% endblock %}

{% block body %}
    <h4 class="text-center">Liste des menus</h4>
    <div class="text-center">
        <a class="my-4 btn btn-primary" href="{{ path('menu_new') }}">Créer un nouveau menu</a>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            {% for menu in menus %}
                <a class="col-11 alert alert-primary text-center" href="{{ path('menu_show', {'id': menu.id}) }}">
                    <i class="fas fa-table"></i>
                    Menu n°{{ menu.id }} <br> du {{ menu.startedAt|date("d/m/Y") }} <br> au {{ menu.finishedAt|date("d/m/Y") }}
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
