{% extends 'base.html.twig' %}

{% block title %}Créer un nouveau menu{% endblock %}

{% block body %}
    <a href="{{ path('menu_index') }}">Retourner à la liste des menus</a>
    <h2>Créer un nouveau menu</h2>
    {{ form_start(form) }}
    {{ form_row(form.startedAt) }}
    {{ form_row(form.finishedAt) }}
    {% for shift in form.shifts %}
        {{ shift.vars.data.identifier }}
        {{ form_widget(shift) }}
    {% endfor %}
    <input class="btn btn-primary" type="submit" value="Générer ce menu">
    {{ form_end(form) }}
{% endblock %}
