{% extends 'base.html.twig' %}

{% block title %}Créer un nouveau menu{% endblock %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block body %}
    <a class="p-3" href="{{ path('menu_index') }}">Retourner à la liste des menus</a>
    <h4 class="text-center my-4">
        {% block title_form %}Créer un nouveau menu{% endblock %}
    </h4>
    <div class="container">
        {{ form_start(form) }}
        <div class="my-4 alert alert-primary">
            {{ form_row(form.startedAt) }}
            {{ form_row(form.finishedAt) }}
        </div>
        {% for shift in form.shifts %}
            <div class="alert alert-info">
                <div class="text-center font-weight-bold">{{ shift.vars.data.identifier }}</div>
                {{ form_widget(shift) }}
            </div>
        {% endfor %}
        <div class="text-center mb-5">
            <input class="btn btn-primary" type="submit" value="{% block text_button %}Générer ce menu{% endblock %}">
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
